.loader {
  margin-top: 10px;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.item {
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
}
.link {
  color: blue;
  text-decoration: none;
}
