.section {
  display: flex;
  gap: 20px;
  padding: 10px;
  background-color: #d7e9f7;
  text-align: left;
}
.image {
  border-radius: 10px;
  border: 1px solid black;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
